<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{fromLogin ? 'Set PIN' : 'Change PIN'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid>
    <ion-row text-center class="row-logo">
      <ion-col col-12 class="logo-parent">
        <div class="logo image"></div>
      </ion-col>
    </ion-row>

    <form [formGroup]="changePinForm">
      <ion-row>
        <ion-col no-padding text-center class="sign-up-text">
          <div>{{fromLogin ? 'Set PIN' : 'Change PIN'}}</div>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label stacked>Current Pin</ion-label> -->
            <ion-input placeholder="{{fromLogin ? 'New PIN' : 'Old PIN'}}" formControlName="oldPin" type="tel" (focusout)="removePadding()"
              (keyup.enter)="changePassword()" (keyup)="filterEmoji('oldPin', $event)"></ion-input>
          </ion-item>
          <p class="error" *ngIf="changePinForm?.controls['oldPin']?.hasError('required') && (changePinForm?.controls['oldPin']?.dirty || isFormInvalid)">PIN is Required</p>
          <p class="error" *ngIf="changePinForm?.controls['oldPin']?.hasError('minlength') && (changePinForm?.controls['oldPin']?.dirty || isFormInvalid)">Min 6 digit is Required</p>
          <p class="error" *ngIf="changePinForm?.controls['oldPin']?.hasError('maxlength') && (changePinForm?.controls['oldPin']?.dirty || isFormInvalid)">Max 6 digit is Required</p>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <!-- <ion-label stacked>New Pin</ion-label> -->
            <ion-input placeholder="{{fromLogin ? 'Re-Enter New PIN' : 'New PIN'}}" formControlName="newPin" type="tel" (focusout)="removePadding()"
              (keyup.enter)="changePassword()" (keyup)="filterEmoji('newPin', $event)"></ion-input>
          </ion-item>
          <p class="error" *ngIf="changePinForm?.controls['newPin']?.hasError('required') && (changePinForm?.controls['newPin']?.dirty || isFormInvalid)">PIN is Required</p>
          <p class="error" *ngIf="changePinForm?.controls['newPin']?.hasError('minlength') && (changePinForm?.controls['newPin']?.dirty || isFormInvalid)">Min 6 digit is Required</p>
          <p class="error" *ngIf="changePinForm?.controls['newPin']?.hasError('maxlength') && (changePinForm?.controls['newPin']?.dirty || isFormInvalid)">Max 6 digit is Required</p>
        </ion-col>

        <ion-col col-12 *ngIf="!fromLogin">
          <ion-item>
            <ion-input placeholder="Re-Enter New PIN" formControlName="conformPin" type="tel" (focusout)="removePadding()" (keyup.enter)="changePassword()" (keyup)="filterEmoji('conformPin', $event)"></ion-input>
          </ion-item>
          <p class="error" *ngIf="changePinForm?.controls['conformPin']?.hasError('required') && (changePinForm?.controls['conformPin']?.dirty || isFormInvalid)">PIN is Required</p>
          <p class="error" *ngIf="changePinForm?.controls['conformPin']?.hasError('minlength') && (changePinForm?.controls['conformPin']?.dirty || isFormInvalid)">Min 6 digit is Required</p>
          <p class="error" *ngIf="changePinForm?.controls['conformPin']?.hasError('maxlength') && (changePinForm?.controls['conformPin']?.dirty || isFormInvalid)">Max 6 digit is Required</p>
          <p class="error" *ngIf="changePinForm?.controls['conformPin']?.value != changePinForm?.controls['newPin']?.value">Password not match</p>
        </ion-col>

      </ion-row>
    </form>

    <ion-row>
      <ion-col col-12>
        <button ion-button round block (click)="changePassword()">{{fromLogin ? 'Set PIN' : 'Change PIN'}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
