<!-- <ion-header> -->

  <!-- <ion-navbar *ngIf="signInData">
    <ion-title>Sign-In</ion-title>
  </ion-navbar> -->

<!-- </ion-header> -->

<ion-content no-padding>
    <div class="sc_bg">
      <img [src]="sanitizer.bypassSecurityTrustUrl(theme.defaultTheme.login_image)">
    </div>
    <ion-grid class="do-fix">
      <ion-row text-center class="row-logo">
        <ion-col col-12 class="logo-parent">
          <div class="logo image"></div>
        </ion-col>
      </ion-row>
  
      <form [formGroup]="loginForm">
        <ion-row *ngIf="!signInData">
          <ion-col no-padding text-center class="sign-up-text">
            <div>SIGN UP</div>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-input placeholder="Mobile No" formControlName="mobile" type="tel" (focusout)="removePadding()" (keyup.enter)="login()"  (keyup)="filterEmoji('login','mobile', $event)"></ion-input>
            </ion-item>
            <p class="error" *ngIf="loginForm?.controls['mobile']?.hasError('required') && (loginForm?.controls['mobile']?.dirty || isFormInvalid)">Mobile number is Required</p>
            <p class="error" *ngIf="loginForm?.controls['mobile']?.hasError('minlength') && (loginForm?.controls['mobile']?.dirty || isFormInvalid)">Min {{theme?.defaultTheme.length_of_mobile_no}} digit is Required</p>
            <p class="error" *ngIf="loginForm?.controls['mobile']?.hasError('maxlength') && (loginForm?.controls['mobile']?.dirty || isFormInvalid)">Max {{theme?.defaultTheme.length_of_mobile_no}} digit is Required</p>
          </ion-col>
  
          <ion-col col-12>
            <ion-item>
              <ion-input placeholder="OTP" formControlName="otp" type="tel" pattern="[0-9]*" (focusout)="removePadding()" (keyup.enter)="login()"  (keyup)="filterEmoji('login', 'otp', $event)"></ion-input>
            </ion-item>
            <p class="error" *ngIf="loginForm?.controls['otp']?.hasError('required') && (loginForm?.controls['otp']?.dirty || isFormInvalid)">OTP is Required</p>
            <p class="error" *ngIf="loginForm?.controls['otp']?.hasError('minlength') && (loginForm?.controls['otp']?.dirty || isFormInvalid)">Min 4 digit is Required</p>
            <p class="error" *ngIf="loginForm?.controls['otp']?.hasError('maxlength') && (loginForm?.controls['otp']?.dirty || isFormInvalid)">Max 10 digit is Required</p>
          </ion-col>
  
          <ion-col col-10 offset-1 text-center>
            <div class="statement">By Continuing you are agree to our
              <span class="terms" (click)="termsAndCondition()">Terms & Condition</span> and
              <span class="terms" (click)="privacyPolicy()">Privacy Policy / GDPR</span>
            </div>
          </ion-col>
        </ion-row>
      </form>
  
      <form [formGroup]="signUpForm">
        <ion-row *ngIf="signInData">
          <ion-col no-padding text-center class="sign-up-text">
            <div>SIGN IN</div>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <!-- (keyup)="filterEmoji1('mobile', $event)" -->
              <ion-input placeholder="Mobile No" formControlName="mobile" type="tel" (keyup)="filterEmoji('signup', 'mobile', $event)" (focusout)="removePadding()" (keyup.enter)="login()" ></ion-input>
            </ion-item>
            <p class="error" *ngIf="signUpForm?.controls['mobile']?.hasError('required') && (signUpForm?.controls['mobile']?.dirty || isFormInvalid)">Mobile number is Required</p>
            <p class="error" *ngIf="signUpForm?.controls['mobile']?.hasError('minlength') && (signUpForm?.controls['mobile']?.dirty || isFormInvalid)">Min {{theme?.defaultTheme.length_of_mobile_no}} digit is Required</p>
            <p class="error" *ngIf="signUpForm?.controls['mobile']?.hasError('maxlength') && (signUpForm?.controls['mobile']?.dirty || isFormInvalid)">Max {{theme?.defaultTheme.length_of_mobile_no}} digit is Required</p>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-input placeholder="PIN" formControlName="pin" type="tel" (keyup)="filterEmoji('signup', 'pin', $event)" (focusout)="removePadding()" (keyup.enter)="login()" ></ion-input>
            </ion-item>
            <p class="error" *ngIf="signUpForm?.controls['pin']?.hasError('required') && (signUpForm?.controls['pin']?.dirty || isFormInvalid)">PIN is Required</p>
            <p class="error" *ngIf="signUpForm?.controls['pin']?.hasError('minlength') && (signUpForm?.controls['pin']?.dirty || isFormInvalid)">Min 6 digit is Required</p>
            <p class="error" *ngIf="signUpForm?.controls['pin']?.hasError('maxlength') && (signUpForm?.controls['pin']?.dirty || isFormInvalid)">Max 6 digit is Required</p>
          </ion-col>
        </ion-row>
      </form>
  
      <ion-row>
        <ion-col col-12>
          <button *ngIf="enterButton || signInData" ion-button round block (click)="login()">Enter</button>
          <button *ngIf="!enterButton && !signInData" ion-button round block (click)="resendOTP()">Send OTP</button>
        </ion-col>
        <ion-col col-6 text-left>
          <div class="sign-in" (click)="signIn()">
            {{signInData ? 'Sign Up' : 'Sign In'}}
          </div>
        </ion-col>
        <ion-col col-6 text-right *ngIf="signInData && !enterButton">
          <div class="forgot-pin" (click)="forgotPin()">
            Forgot Pin
          </div>
        </ion-col>
        <ion-col col-6 text-right *ngIf="!signInData && enterButton">
          <div class="resend" (click)="resendOTP()">
            {{resending?.value ? resending?.time + ' seconds remaining' : resendText}}
          </div>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-content>
