page-login {




  .statement {
    color: white;
    font-size: 10px;

    .terms {
        // color: #3844CA;
        color: #f53d3d;
    }
  } 
  .sign-up-text {
    color: white;
    margin: 15px;
  }
  .forgot-pin{
    color: white;
    padding-right: 12%;
  }
  .sign-in {
    color: white;
    padding-left: 12%;
  }
  .row-logo {
    // margin-bottom: 15px;
    margin-top: 60px;
  }
  .logo {
    background-image: url('../assets/icon/logo.png');
    height: 150px;
    width: 250px;
    background-size: contain;
  }
  .logo-parent {
    display: flex;
    justify-content: center;
  }
  ion-input,
  ion-textarea {
    border-radius: 64px;
    background: white;
    width: 90%;
    margin: 0 auto;
    height: 4rem;
    padding: 0;
  }
  .text-input-md {
    margin: 12px 30px; // font-size: 16px;
  }
  
  .button-md {
    background-color: #3844CA;
    margin: 0 auto !important;
    height: 4rem;
    width: 90%;
  }
  .resend {
    color: white;
    width: 90%;
    font-size: 10px;
  }
  .error {
    margin: 5px 48px;
  }
  .item-md {
    padding-left: 0;
    border-radius: 64px;
    width: 90%;
    margin: auto;
    min-height: 4rem;
  }
  .item-md.item-block .item-inner {
    padding-right: 0;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: white;
    box-shadow: none;
  }
  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: white;
    box-shadow: none;
  }




/*  ion-content{
   background-image: url('../assets/icon/singin-bg.png');
    
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */ 





}



.sc_bg {
    position: fixed;
    height: 100%;
    width: 100%;
}


.sc_bg img{
   
    height: 100%;
    width: 100%;
        object-fit: cover;
    object-position: top center;
    vertical-align: middle;
}



  