<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Promotion and
      <br *ngIf="global?.platform?.width() < 400"> Discount</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid class="grid-promo" *ngIf="!noData">
    <div *ngFor='let x of promotions; let i=index;'>
      <ion-row class="row-promo" (click)="openCat(i)">
        <ion-col col-12>
          <div class="category" [class.active]="x?.show">{{x?.key}}</div>
        </ion-col>
      </ion-row>

     
     <div *ngIf="x?.show" class="row-coupon" >
     <div *ngFor='let y of x.value; let j=index' class="prm_cards" (click)="openDetails(y)" >
         <ion-row>
         <ion-col col-12 class="border-bottom cmn_name"><b>{{y?.company_name}}</b> </ion-col>
         </ion-row>
         <ion-row>
      <ion-col col-6 class="border-bottom border-right">
          <div class="header">{{y?.coupon_code}}</div>
        </ion-col>
        <ion-col col-6 class="border-bottom" text-right>
          <div>  <!--*ngFor='let y of x.value; let j=index'-->
            <span class="header"> 
              {{ +y?.discount_type == 0 ? 'Fixed Price: ' + y?.discount_rate + theme?.defaultTheme?.currency  : y?.discount_rate + '%'}}  
            </span>
          </div>
        </ion-col>
        <ion-col col-6 class="col-address" text-left>
          <div>
            <b [ngStyle]="theme?.heading()">Address : </b>
          </div>
          <div [ngStyle]="theme?.data()" style="text-transform: capitalize;">{{y?.address}}</div>
        </ion-col>
        <ion-col col-6 class="col-time" text-right>
          <div text-left *ngIf="+y?.time_type == 0">
            <b [ngStyle]="theme?.heading()">From:</b>
            <span class="date" [style.font-size]="theme?.data_font_size">{{y?.from_date}}</span>
          </div>
          <div text-left *ngIf="+y?.time_type == 0">
            <b [ngStyle]="theme?.heading()">To:</b>
            <span class="date" [style.font-size]="theme?.data_font_size">{{y?.to_date }}</span>
          </div>
          <div text-left *ngIf="+y?.time_type == 1">
            <b [ngStyle]="theme?.heading()">Time: </b>
            <span class="date" [style.font-size]="theme?.data_font_size">Unlimited</span>
          </div>
          <div class="usage" [ngStyle]="theme?.heading()" *ngIf="+y?.time_type == 2">
            No. of Usage:
            <span [ngStyle]="theme?.data()">{{y?.no_of_usages}}</span>
          </div>
        </ion-col>
        </ion-row>
     </div>
   </div>


      
    </div>
  </ion-grid>

  <ion-grid *ngIf="noData">
    <div class="no-data">
      <!-- No Data Found -->
      Offers are not available this point in time
    </div>
  </ion-grid>
</ion-content>
