page-chat {
  ion-col{
    position: initial !important;
  }
  .chat-grid {
    padding: 20px 10px;
    .div-message-container {
      .row-chat-time {
        .col-time {
          padding: 0 5px;
          .div-time {
            font-size: 12px;
            color: lightgray;
          }
        }
      }
      .row-chat-isMe {
        margin: 10px 0 0 0;
        .col-message-isMe {
          position: relative;
          
          .pointer-left {
            // content: ' ';
            // position: absolute;
            // width: 0;
            // height: 0;
            // left: -2px;
            // right: auto;
            // top: 21%;
            // bottom: auto;
            // border: 8px solid;
            // border-color: #DEE5EB #DEE5EB transparent transparent;
            // transform: rotate(225deg);
          }
          .div-message {
            padding: 10px;
            border-radius: 5px;
          }
          .div-message-isMe-not {
            background-color: #DEE5EB;
            position: relative;
            &:after{
              content: " ";
              display: block;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 10px 5px 0;
              border-color: transparent #DEE5EB transparent transparent;
              position: absolute;
              top: 13px;
              left: -10px;
            }
          }
          .div-message-isMe {
            background-color: #60D86E;
            color: white;
            position: relative;
            &:after{
              content: " ";
              display: block;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 0 5px 10px;
              border-color: transparent transparent transparent #60D86E;
              position: absolute;
              top: 13px;
              right: -10px;
            }
          }
          
        }
        .col-image-isMe {
          display: flex;
          justify-content: center;
          // align-items: center;
          .div-image-isMe {
            height: 50px;
            width: 50px;
            border-radius: 40px;
          }
        }
      }
    }
  }
  .grid-input {
    .row-inputBox {
      background-color: #E8E8E8;
      padding: 5px 0px 5px 5px;
      .col-inputBox {
        .inputBox {
          border-bottom: 1px solid lightgray;
          margin: 0;
          // border: none;
          background: transparent;
          height: 100%;
          width: 100%;
          line-height: 100%;
          font-size: 15px;
        }

      }
      .col-send {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
          font-size: 2.5em;
          color: #5B5B5B;
        }
      }
    }
  }
}
