<ion-header>

  <ion-navbar>
    <ion-title text-capitalize>{{chatListData?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding #content>
  <ion-grid class="chat-grid" *ngIf="!noData">
    <div *ngFor="let chat of chatData; let i = index;" class="div-message-container">

      <!-- its-mee -->
      <ion-row *ngIf="+chat?.from_user_id != +chatListData?.id" class="row-chat-isMe">
        <ion-col col-9 class="col-message-isMe">
          <!-- <div class="pointer-right"></div> -->
          <div class="div-message pointer-right div-message-isMe">{{chat?.message}}</div>
        </ion-col>
        <ion-col col-3 class="col-image-isMe">
          <div class="div-image-isMe image" [style.backgroundImage]="
          sanitizer.bypassSecurityTrustStyle('url(' + user_image + ')')
          "></div>
        </ion-col>
      </ion-row>

      <!-- another person -->
      <ion-row *ngIf="+chat?.from_user_id == +chatListData?.id" class="row-chat-isMe">
        <ion-col col-3 class="col-image-isMe">
          <div class="div-image-isMe image" [style.backgroundImage]="
          sanitizer.bypassSecurityTrustStyle('url(' + chatListData?.user_image + ')')
          "></div>
        
        </ion-col>
        <ion-col col-9 class="col-message-isMe">
          <!-- <div class=""></div> -->
          <div class="div-message pointer-left div-message-isMe-not">{{chat?.message}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="row-chat-time">
        <!-- its-mee -->
        <ion-col col-12 text-left class="col-time" *ngIf="+chat?.from_user_id != +chatListData?.id">
          <div class="div-time">{{ getTimezoneTime(chat) | date: dateformat : chat?.togmt }} <ion-icon *ngIf="chat?.status == 'pending'" name="infinite"></ion-icon><ion-icon *ngIf="chat?.status == 'completed'" name="checkmark"></ion-icon><ion-icon *ngIf="chat?.status == 'error'" name="alert"></ion-icon></div>
          
        </ion-col>
        
        <!-- another person -->
        <ion-col col-12 text-right class="col-time" *ngIf="+chat?.from_user_id == +chatListData?.id" >
          <div class="div-time">{{ getTimezoneTime(chat) | date: dateformat : chat?.togmt }}</div>
        </ion-col>
      </ion-row>

    </div>
  </ion-grid>

  <ion-grid *ngIf="noData">
    <div class="no-data">
      <!-- No Data Found -->
      Let's start chat.
    </div>
  </ion-grid>
  
</ion-content>

<ion-footer>
    <ion-grid class="grid-input" no-padding>
      <ion-row class="row-inputBox">
        <ion-col col-10 class="col-inputBox">
          <ion-input (keyup.enter)="send()" placeholder="Type a message..." type="text" class="inputBox" [(ngModel)]="inputText" ></ion-input>
        </ion-col>
        <ion-col col-2 class="col-send" (click)="send()">
          <ion-icon ios="md-send" md="md-send"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>


