<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Edit Performance</ion-title>
    <ion-buttons end *ngIf="showtick">
      <button ion-button icon-only (click)="submit()">
        <ion-icon ios="md-checkmark" md="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid class="grid-detail">
    <ion-row>
      <!--<ion-col col-12 class="event-detail">
        <div class="event-detail-color" [ngStyle]="theme?.heading()">Performance Name: </div>
      </ion-col> -->
      <ion-col col-12 class="event-detail">
        <ion-item class="item-dance">
          <ion-select [(ngModel)]="person.performanceName" class="performance" (ionChange)="changeparticipants()" placeholder="Performance Name">
            <ion-option [value]="performance?.id" *ngFor="let performance of performanceList; let i = index">{{performance?.value}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6 class="event-detail">
        <div class="event-detail-color" [ngStyle]="theme?.heading()">Participant No: </div>
      </ion-col>
      <ion-col col-6 class="event-detail">
       <!--  <number-slider [max]="max_attendees" [seed]="person.noOfParticipants" (decreased)="person.noOfParticipants = $event" (increased)="person.noOfParticipants = $event"></number-slider> -->
       <number-slider [max]="max_participants" [seed]="person.noOfParticipants" (decreased)="person.noOfParticipants = $event" (increased)="person.noOfParticipants = $event"></number-slider>
      </ion-col>

      <!--<ion-col col-12 class="event-detail" #col>
        <div class="event-detail-color" [ngStyle]="theme?.heading()">Special Need: </div>
      </ion-col> -->
      <ion-col col-12 class="event-detail">
        <div class="event-detail-data extra">
          <ion-item>
            <ion-textarea [ngStyle]="theme?.data()" #extra rows="1" #ip [(ngModel)]='person.specialNeed' type="text"
              (focusout)="removePadding()" placeholder="Special Need" (keyup)="filterEmoji('', $event)"></ion-textarea> <!-- (input)="change(ip, col)"  -->
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
