<ion-header>

  <ion-navbar>
    <ion-title>Event Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row class="event">
      <ion-col col-5>
        <div class="event-image image" [style.backgroundImage]="+event?.evententrydetail?.event_entry_confirmed == 0 ? previousPageData?.event?.event_image : 'url(' + event?.evententrydetail?.qrcode_image + ')'"></div>
      </ion-col>
      <ion-col col-7 text-left>
        <div class="heading" text-nowrap [ngStyle]="theme?.special()">{{previousPageData?.event?.event_name}}</div>
        <!-- <div class="description">{{event?.event?.description}}</div> -->
        <div class="padding" [ngStyle]="theme?.heading()">From :
          <div>
            <span class="time" [ngStyle]="theme?.data()">{{previousPageData?.event?.from_date}}</span>
            <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </div>
        </div>
        <div class="padding" [ngStyle]="theme?.heading()">
          To &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          <div>
            <span class="time" [ngStyle]="theme?.data()">{{previousPageData?.event?.to_date}}</span>
            <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </div>
        </div>
      </ion-col>
      <ion-col col-12>
        <div class="description" [ngStyle]="theme?.data()" [innerHTML]="showDescription ? previousPageData.event?.description : previousPageData.event?.description?.slice(0, 200) + '...'"></div>
        <div class="show-more" (click)="showDescription = !showDescription">Show {{showDescription ? 'Less' : 'More'}}</div>
      </ion-col>
    </ion-row>

    <hr>

    <div class="background-color">
      <form [formGroup]="userForm">
        <ion-row>
          <ion-col col-12 class="person-detail">
            <div class="person-detail-color" [ngStyle]="theme?.heading()">Name: </div>
            <!-- <div class="person-detail-data" text-nowrap> Aman Kumar</div> -->
            <ion-item>
              <ion-input [disabled]="true" [ngStyle]="theme?.data()" placeholder="Name" formControlName="name" type="text" (focusout)="removePadding()"
                (keyup)="filterEmoji('name', $event)"></ion-input>
            </ion-item>
          </ion-col>
          <p class="error" *ngIf="userForm?.controls['name']?.hasError('required') && (userForm?.controls['name']?.dirty || isFormInvalid)">Name is Required</p>

          <ion-col col-12 class="person-detail">
            <div class="person-detail-color" style="min-width: 80px; width: 80px;" [ngStyle]="theme?.heading()">Mobile No. : </div>
            <!-- <div class="person-detail-data"> 123456789</div> -->
            <ion-item>
              <ion-input [disabled]="true" [ngStyle]="theme?.data()" placeholder="Mobile no." formControlName="mobile" type="tel" 
              (keyup)="filterEmoji('mobile', $event)" (focusout)="removePadding()"></ion-input>
            </ion-item>
          </ion-col>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('required') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Mobile number is Required</p>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('minlength') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Min 11 digit is Required</p>
          <p class="error" *ngIf="userForm?.controls['mobile']?.hasError('maxlength') && (userForm?.controls['mobile']?.dirty || isFormInvalid)">Max 11 digit is Required</p>

          <ion-col col-12 class="person-detail">
            <div class="person-detail-color" [ngStyle]="theme?.heading()">No. Of Members: </div>
            <!-- <div class="person-detail-data"> 16</div> -->
            <number-slider [max]="((+previousPageData?.event?.max_attendees != 0) && (+previousPageData.availableseats <= 0)) ? +previousPageData?.event?.max_attendees : 100"
              class="num-sli" [seed]="userForm?.controls['noOfMembers'].value" (decreased)="numberValue($event, false)" (increased)="numberValue($event, true)"></number-slider>
            <!-- <ion-item>
                <ion-range formControlName="noOfMembers"></ion-range>
              </ion-item>
              <div class="person-detail-data">
                {{userForm?.controls["noOfMembers"].value}}
              </div> -->
          </ion-col>
        </ion-row>
      </form>

      <div class="details">
        <ion-row class="row-header">
          <ion-col col-4>NAME</ion-col>
          <ion-col col-3>AGE</ion-col>
          <ion-col col-5 text-center>TICKET AMOUNT ({{theme?.defaultTheme?.currency}})</ion-col>
        </ion-row>

        <ion-row style="height: auto" *ngIf="users && users?.length > 0">
          <ion-col col-12>
            <div>
              <div *ngFor="let item of users" (click)="itemSelected(item)" style="margin: 5px;">
                {{ item?.name }}
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let person of persons; let i = index;" class="table bdr-btm">
          <ion-col col-4>
            <ion-item>
              <!-- (focusout)="removePadding()" -->
              <ion-input  [ngStyle]="theme?.data()" [(ngModel)]='person.name' type="text"
                placeholder="Name" (keyup)="filterEmoji('person', $event)" ></ion-input> <!-- (keyup)="searchingUser(person.name, i, $event)" -->
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item>
            	<ion-select [selectOptions]="ageSelectOptions" [(ngModel)]='person.age' name="age" placeholder="Age" [disabled]="+event?.evententrydetail?.payment_status == 1" (ionChange)="changeAge($event, i)"
>
               <ion-option *ngFor="let x of ageArray" [value]="x.id">{{x.col}}</ion-option>
             </ion-select>
              <!-- <ion-input (keyup)="ageValidation($event, i)" [ngStyle]="theme?.data()" [(ngModel)]='person.age' type="number" pattern="[0-9]*"
                placeholder="Age" (focusout)="checkAge(i, $event)"></ion-input> -->
            </ion-item>
          </ion-col>
          <ion-col col-5 text-center class="amount">
            <ion-item>
              <ion-input [ngStyle]="theme?.data()" [disabled]='true' [(ngModel)]='person.amount' type="text" placeholder="Amount" 
              (keyup)="filterEmoji('', $event)" (focusout)="removePadding()"></ion-input>
            </ion-item>
          </ion-col>
          <!-- <ion-col col-1 text-center class="close" (click)="removeItem(i)">
            <div>
              <ion-icon ios="md-close" md="md-close"></ion-icon>
            </div>
          </ion-col> -->

        </ion-row>

        <ion-row class="total-row">
          <ion-col col-6>TICKET TOTAL</ion-col>
          <ion-col col-6 text-center>{{theme?.defaultTheme?.currency}} {{total}}/-</ion-col>
        </ion-row>

      </div>

      <div *ngIf="+previousPageData?.event?.is_donation_accept == '1'">
      <ion-row >
          <ion-col col-12 class="person-detail" >
              <div class="person-detail-color" text-wrap>
                    {{previousPageData?.event?.donation_label}} <span style="float: right">{{theme?.defaultTheme?.currency}} {{donation_amount || 0}}/-</span>
              </div>
              <!-- <div class="person-detail-data"> 16</div> --> 
              <number-slider [max]="1000" [min]="0" class="num-sli" [seed]="0" [noneditable]="false" (updateInput)="donationValue($event)" (decreased)="donationValue($event)" (increased)="donationValue($event)"></number-slider>
            </ion-col>
      </ion-row>
      <ion-row class="total-row">
        <ion-col col-6><strong>TOTAL AMOUNT</strong></ion-col>
        <ion-col col-6 text-center><strong>{{theme?.defaultTheme?.currency}} {{ total + (donation_amount || 0) }}/-</strong></ion-col>
      </ion-row>
      </div>

      <ion-row class="row-radio" *ngIf="+previousPageData?.event?.entry_for != 0">
        <ion-col col-12 class="col-text">
          <div [ngStyle]="theme?.heading()">Are You Interested in ?</div>
        </ion-col>
        <ion-row col-12>
          <ion-col *ngIf="+previousPageData?.event?.entry_for == 2 || +previousPageData?.event?.entry_for == 1">
            <ion-item>
              <ion-label [ngStyle]="theme?.data()">VOLUNTEER</ion-label>
              <ion-checkbox [(ngModel)]="volunteer" style="margin: 8px;"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="+previousPageData?.event?.entry_for == 3 || +previousPageData?.event?.entry_for == 1">
            <ion-item>
              <ion-label [ngStyle]="theme?.data()">PERFORMANCE</ion-label>
              <ion-checkbox [(ngModel)]="performance" [disabled]="performanceDetails?.performance_confirmed == '1'" style="margin: 8px;"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-row>

      <ion-row *ngIf="performance">
        <!--<ion-col col-12 class="event-detail">
          <div class="event-detail-color" [ngStyle]="theme?.heading()">: </div> -->
          <!-- <div class="event-detail-data"> -->
          <!-- <ion-input [(ngModel)]='person.performanceName' type="text"></ion-input> -->
        <!--</ion-col>-->
        <ion-col col-12 class="event-detail">
          <ion-item class="item-dance">
            <ion-select [(ngModel)]="person.performanceName" class="performance" (ionChange)="changeparticipants()" placeholder="Performance Name">
              <ion-option [ngStyle]="theme?.data()" *ngFor="let performance of performanceList" [value]="performance?.id">{{performance?.value}}</ion-option>
              <!-- <ion-option value="bd">Bhangra Dance</ion-option>
              <ion-option value="pd">Punjabi Dance</ion-option> -->
            </ion-select>
          </ion-item>
          <!-- </div> -->
        </ion-col>
        <ion-col col-6 class="event-detail">
          <div class="event-detail-color" [ngStyle]="theme?.heading()">Participant No: </div>
        </ion-col>
        <ion-col col-6 class="event-detail">
          <number-slider [max]="max_participants" [seed]="person.noOfParticipants" (decreased)="person.noOfParticipants = $event" (increased)="person.noOfParticipants = $event"></number-slider>
          <!-- <number-slider [seed]="person.noOfParticipants ? person.noOfParticipants : 0" (decreased)="person.noOfParticipants = $event"
            (increased)="person.noOfParticipants = $event" [max] ="max_participants"></number-slider> -->
          <!-- [max]="userForm?.controls['noOfMembers'].value > +previousPageData?.event?.max_attendees ? userForm?.controls['noOfMembers'].value : +previousPageData?.event?.max_attendees" -->
        </ion-col>

        <!--<ion-col col-12 class="event-detail" #col>
          <div class="event-detail-color" [ngStyle]="theme?.heading()">Special Need: </div>
        </ion-col>-->
        <ion-col col-12 class="event-detail">
          <div class="event-detail-data extra">
            <ion-item>
              <!-- (focusout)="removePadding()" -->
              <!--  -->
              <ion-textarea  (input)="change(ip, col)" (keyup)="filterEmoji('', $event)" [ngStyle]="theme?.data()" #extra rows="1" #ip  [(ngModel)]='person.specialNeed' type="text"
                 placeholder="Special Need"></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
        <!-- <p class="error" *ngIf="person?.specialNeed && person?.specialNeed?.length <= 0 || isFormInvalid)">Special need is Required</p> -->
      </ion-row>

      <ion-row>
        <ion-col col-12 class="submit">
          <button ion-button full (click)="submit()">SUBMIT</button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
