<ion-header>

  <ion-navbar>
    <ion-title>Promotion Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid *ngIf="!noData">
    <ion-row>
      <ion-col col-12 class="col-coupon-code">
        <div class="coupon-code image">
          {{couponDetail?.coupon_code}}
        </div>
      </ion-col>
    </ion-row>

    <div class="details image">
      <ion-row class="row-name">
        <ion-col col-1 text-center>
          <ion-icon ios="md-person" md="md-person"></ion-icon>
        </ion-col>
        <ion-col col-5 text-left>
          <div class="name" [ngStyle]="theme?.heading()">Discount Rate:</div>
        </ion-col>
        <ion-col col-6 text-right text-nowrap>
          <div class="amount" [ngStyle]="theme?.special()">{{theme?.defaultTheme?.currency + ' ' + couponDetail?.discount_rate}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="row-company">
        <ion-col col-1 text-center>
          <ion-icon ios="md-stats" md="md-stats"></ion-icon>
        </ion-col>
        <ion-col col-5 text-left>
          <div class="company" [ngStyle]="theme?.heading()">Name:</div>
        </ion-col>
        <ion-col col-6 text-right text-nowrap>
          <div [ngStyle]="theme?.data()"> {{couponDetail?.company_name}} </div>
        </ion-col>
      </ion-row>


      <ion-row class="row-email" *ngIf="couponDetail?.time_type==0">
        <ion-col col-1 text-center>
          <ion-icon ios="logo-usd" md="logo-usd"></ion-icon>
        </ion-col>
        <ion-col col-11 text-left>
          <div class="email" [ngStyle]="theme?.heading()">Period:</div>
        </ion-col>
        <ion-col col-11 offset-1 class="date">
          <div>
            <span [ngStyle]="theme?.heading()">From:</span>
            <span [ngStyle]="theme?.data()">{{couponDetail?.from_date}}</span>
          </div>
          <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
        </ion-col>
        <ion-col col-11 offset-1 class="date">
          <div>
            <span [ngStyle]="theme?.heading()">To &nbsp;&nbsp;&nbsp;&nbsp;: </span>
            <span [ngStyle]="theme?.data()">{{couponDetail?.to_date}}</span>
          </div>
          <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
        </ion-col>
        <!-- <ion-col col-11 offset-1>
          <div>
            <span>To: 03-02-2018
              <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
            </span>
          </div>
        </ion-col> -->

      </ion-row>

      <ion-row class="row-email" *ngIf="couponDetail?.time_type==2">
        <ion-col col-1 text-center>
          <ion-icon ios="logo-usd" md="logo-usd"></ion-icon>
        </ion-col>
        <ion-col col-11 text-left >
          <div class="email" [ngStyle]="theme?.heading()">No. of Usages:</div>
        </ion-col>
        <ion-col col-11 offset-1 class="date">
          <div>
            <span>{{couponDetail?.no_of_usages}}</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-email" *ngIf="couponDetail?.time_type==1">
        <ion-col col-1 text-center>
          <ion-icon ios="logo-usd" md="logo-usd"></ion-icon>
        </ion-col>
        <ion-col col-11 text-left >
          <div class="email" [ngStyle]="theme?.heading()">Time:</div>
        </ion-col>
        <ion-col col-11 offset-1 class="date">
          <div>
            <span>Unlimited</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-address">
        <ion-col col-1 text-center>
          <ion-icon ios="md-lock" md="md-lock"></ion-icon>
        </ion-col>
        <ion-col col-11 text-left>
          <div class="address" [ngStyle]="theme?.heading()">Address:</div>
        </ion-col>
        <ion-col col-11 offset-1>
          <div [ngStyle]="theme?.data()">
            {{couponDetail?.address}}
          </div>
        </ion-col>
      </ion-row>

    </div>
    <ion-row>
      <ion-col col-12>
        <div #map id="map" class="map"></div>
      </ion-col>
      <ion-col col-12>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="noData">
    <div class="no-data">
      No Data Found
    </div>
  </ion-grid>
</ion-content>
