number-slider {
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid lightgray;
    }
    .button{
        padding: 5px;
        align-items: center;
        width: 35px;
        font-size: 16px;
    }
    .text{
        width: 100px;
        align-items: center;
        text-align: center;
    }
    .slider-inpu input{
        text-align: center;
    }

    .showDisable{
        opacity: 0.5;
        background-color: lightgray;
    }
}
