<!--
  Generated template for the PalertPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <p>You have received message from {{data?.title}}.want to navigate?</p>
   <button ion-button color="secondary" (click)="save()">Yes</button> <button ion-button color="danger" (click)="close()">No</button>
</ion-content>
