<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><span *ngIf="feedback!=''">Edit</span><span  *ngIf="feedback==''">Add</span> Comment</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveevent()">
        <ion-icon ios="md-checkmark" md="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid class="grid-detail">
    <ion-row>
      <ion-col col-12 class="event-detail" #col>
        <div class="event-detail-color" [ngStyle]="theme?.heading()">Your Comment: </div>
      </ion-col>
      <ion-col col-12 class="event-detail">
        <div class="event-detail-data extra">
          <ion-item>
            <ion-textarea [ngStyle]="theme?.data()" #extra rows="1" #ip (input)="change(ip, col)" [(ngModel)]='feedback' type="text"
            (keyup)="filterEmoji($event)" 
              (focusout)="removePadding()"></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
