<ion-header>

  <ion-navbar>
    <ion-title text-capitalize>{{eventData?.event?.event_name}}</ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="openScanner()">
        <ion-icon ios="md-qr-scanner" md="md-qr-scanner"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="col-backgroundImage">
        <div class="backgroundImage image" [style.backgroundImage]="eventData?.event?.event_image"></div>
      </ion-col>
    </ion-row>
    
    <ion-row class="row-filter" text-center *ngIf="type=='new'">
      <!-- <ion-col class="col-filter" text-center>
        <div class="filter" (click)="edit()">Edit</div>
        <div class="filter" (click)="registration()">Registration</div>
        <div class="filter">Performance</div>
        <div class="filter">Voluntary</div>
      </ion-col> -->

      <div class="col-filter" (click)="edit()" *ngIf="+eventData?.event_entry_id">
        <button ion-button>
          {{+eventData?.payment_status == 0 ? 'Edit' : 'View'}} Registration(#{{eventData?.event_entry_id}})
        </button>
      </div>

      <div class="col-filter" (click)="registration()" *ngIf="!eventData?.event_entry_id ">
        <button ion-button *ngIf="+eventData?.event?.max_attendees == 0"> Registration </button>
        <button ion-button *ngIf="+eventData?.event?.max_attendees != 0">{{+eventData?.availableseats > 0 ? 'Registration' : 'Register your Interest'}}</button>
      </div>
      <div class="col-filter" (click)="performance()" *ngIf="((+eventData?.event?.entry_for == 3) || (+eventData?.event?.entry_for == 1))">
        <button ion-button>
          Performance
        </button>
      </div>
    </ion-row>

    <div class="details">
      <ion-row>
        <ion-col col-12>
          <div class="heading" text-capitalized [ngStyle]="theme?.heading()">{{eventData?.event?.event_name}}</div>
          <div class="description" [ngStyle]="theme?.data()" [innerHTML]="showDescription ? eventData?.event?.description : eventData?.event?.description?.slice(0, 200) + '...'"></div>
          <div class="show-more" (click)="showDescription = !showDescription">Show {{showDescription ? 'Less' : 'More'}}</div>
        </ion-col>
        <!-- <ion-col col-3 text-center class="col-price">
          <div class="star image"></div>
          <div class="price" [style.font-size]="theme?.data_font_size">${{eventData?.event?.price_type}}</div>
        </ion-col> -->
      </ion-row>

      <ion-row class="row-timing">
        <ion-col col-9>
          <ion-col col-4>
            <span class="calender" [ngStyle]="theme?.heading()">From</span> :
          </ion-col>
          <ion-col col-8>
            <span class="time" [ngStyle]="theme?.data()">{{eventData?.event?.from_date}}</span>
            <ion-icon class="calender" name="md-calendar" (click)="openCalendar()"></ion-icon>
          </ion-col>
          <br>
          <ion-col col-4>
            <span class="calender" [ngStyle]="theme?.heading()">To</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
          </ion-col>
          <ion-col col-8 text-center>
            <span class="time2" [ngStyle]="theme?.data()">{{eventData?.event?.to_date}}</span>
            <ion-icon class="calender" name="md-calendar"></ion-icon>
          </ion-col>
        </ion-col>

        <ion-col col-3 text-center class="col-chair" *ngIf="+eventData?.event?.max_attendees != 0">
          <div class="div-chair">
            <span class="chair image"></span>
            <span class="calender" [ngStyle]="theme?.heading()">Left</span>
          </div>
          <div class="left-count" [ngStyle]="theme?.data()">{{+eventData?.event?.max_attendees == 0 ? 'Unlimited' : +eventData?.availableseats}} </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <div text-capitalize>
            <span class="calender" [ngStyle]="theme?.heading()">Venue</span>:
            <span [ngStyle]="theme?.data()">{{eventData?.event?.address}}</span>
            <ion-icon style="font-size: 16px;" class="calender" name="md-map"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="row-parking">
        <ion-col col-4 class="div-parking">
          <div class="parking">
            <span class="calender" d [ngStyle]="theme?.heading()">Travel Information</span>: </div>
        </ion-col>
        <ion-col col-8>
          <div class="parking-status" text-uppercased [ngStyle]="theme?.data()">{{eventData?.event?.travel_info}}</div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="eventData?.event?.geo_lat">
        <ion-col col-12>
          <div class="location">
            <span class="calender" [ngStyle]="theme?.heading()">Location</span>
          </div>
        </ion-col>
        <ion-col col-12 class="div-map">
          <div #map id="map" class="map"></div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
