page-menu {
  .profile {
    // background-image: url('../assets/icon/sidebar-profile-photo.png');
    height: 75px;
    width: 75px;
    border-radius: 64px;
    float:left; 

  }
  .menu_head {
    height: 168px;
    overflow-y: auto;
}

p.edipr_btn {
    float: left;
    margin-top: 17%;
    margin-left: 5px;
}

.menu_head h4 {
    margin-top: 3px;
    line-height: 16px;
    font-size: 1.4rem;
    clear: both;
}
  .menu-header-grid {
    background: #2D3192;
    color: white;
  }
  .menu-header-col {
    padding: 10px 0 0 15px;
    h2 {}
    p {
      color: #595AA3;
      /*margin: 0 0 5px 0;*/
    }
  }
  ion-menu {
    .scroll-content {
      margin-top: 150px !important;
    }
  }
  .menu {
    margin-top: 10px;
    .first {
      margin-top: 20px;
    }
    .item {
      min-height: 3rem;
      ion-icon {
        margin-top: 5px;
        margin-bottom: 5px;
        color: #696E74;
        font-size: 2.4rem;
        margin-right: 0px;
      }
      .label-md {
        margin: 5px 8px 5px 0;
      }
      .item-md {
        padding-left: 0px;
      }
    }
    .list-md .item-block .item-inner {
      border-bottom: none;
    }
    .item-md ion-icon[item-left]+.item-inner,
    .item-md ion-icon[item-left]+.item-input,
    .item-md ion-icon[item-start]+.item-inner,
    .item-md ion-icon[item-start]+.item-input {
      margin-left: 18px;
    }
  }
  .list-second {
    margin-top: 100px;
  }
  .qrImage {
    background-image: url('../assets/icon/qr-code.jpg');
    height: 80px;
    width: 80px;
    display: flex;
    margin: 0px auto 10px auto;
  }
  .text-qr {
    color: red;
    font-size: 12px;
  }
  .qr-row {
    margin-bottom: 75px;
  }
}
